*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(78, 78, 78);
    transition: background-color .5s ;
}

nav{
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: rgb(78, 78, 78);
    border-radius: 20px;
    border: 2px solid lightblue;
    margin-bottom: 1em;
}

a{
    text-decoration: none;
    color: rgb(190, 232, 246);
}

.change-temp {
    border-radius: 100px;
    border: none;
    background-color: rgba(245, 156, 156, .5);
    margin-left: .5em;
}
.change-temp-icon {
    padding: 0;
}
#form-container {
    display: flex;
    padding: 1em;
    width: fit-content;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 100px;
    background-color: whitesmoke;
}

.weather-card {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column;
    transition: visibility 0s, opacity .5s;
    border-radius: 15px;
    margin-top: 4em;
    padding: 2em;
}

.brand{
    display: flex;
    align-items: center;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.icon{
    width: auto;
    height: 50px;
}
.sunny{
    background-color: rgb(254, 254, 143);
}

.hot{
    background-color: rgb(214, 74, 74);
}

.cool{
    background-color: lightskyblue !important;
}

.cold{
    background-color: rgb(115, 115, 189);
}

.light{
    border: solid rgb(141, 226, 255) 2px;
}

.dark{
    background-color: lightslategray;
    border: solid rgb(253, 255, 238) 2px;
}